* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: #f6e8e8;
}

.hero {
  background: #f6dce5;
  min-height: 100vh;
  display: flex;
  align-items: center;
  padding: 60px;
}

.hero-text {
  flex: 1;
  color: #3a4a2a;
}

.hero-text h1 {
  font-family: 'Playfair Display', serif;
  font-size: 96px;
  font-weight: 600;
}

.hero-text h2 {
  font-family: 'Playfair Display', serif;
  font-size: 40px;
  font-weight: 400;
}

.hero-text span {
  margin: 0 10px;
}

.slogan {
  font-family: 'Playfair Display', serif;
  margin-top: 40px;
  font-size: 18px;
  position: relative;
}

.slogan::before {
  content: "";
  position: absolute;
  left: 50%;
  top: -80px;
  width: 1px;
  height: 60px;
  background: #3a4a2a;
}

.hero-image {
  flex: 1;
  text-align: right;
}

.hero-image img {
  max-width: 500px;
  max-width: 90%;
}

.list {
  background: #364a21;
  padding: 80px 60px;
  text-align: center;
}

.section-title {
  font-family: 'Playfair Display', serif;
  font-size: 48px;
  margin-bottom: 60px;
  color: #f6dce5;
}


.cards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  flex-wrap: wrap;
}
.card {
  max-width: 260px;
  width: 100%;
  /* background-color: #cdacaf; */
  border-radius: 10px;
  padding: 15px;
}
.card img {
  height: 290px;
  max-width: 190px;
  object-fit: cover;
  border-radius: 40px 40px 0 0;
  transition: all 1s;
  padding: 14px;
}
.card img:hover {
  transform: scale(1.194);
}
.name {
  color: #f6dce5;
  margin-top: 10px;
  font-size: 22px;
  text-transform: capitalize;
  font-family: "LXGW Marker Gothic", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.price {
  color: #f6dce5;
  font-family: "LXGW Marker Gothic", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-top: 8px;
  font-size: 18px;
}
 



.services {
  font-family: "LXGW Marker Gothic", sans-serif;
  font-weight: 400;
  font-style: normal;
  background: #f6dbe6;
  color: #2f3b1f;
  padding: 80px 20px;
  text-align: center;
}
.services h1 {
  font-size: 48px;
  margin-bottom: 60px;
}
.services-grid {
  display: flex;
  align-items: center;
  gap: 40px;
  max-width: 1100px;
  margin: 0 auto;
}
.service-card img {
  max-width: 90px;
  max-height: 90px;
  margin-bottom: 20px;
} 
.service-card h3 {
  margin-bottom: 10px;
}






.schedule {
  font-family: "LXGW Marker Gothic", sans-serif;
  font-weight: 400;
  font-style: normal;
  background: #2f3b1f;
  color: #f6dbe6;
  padding: 80px 20px;
}
.schedule-wrapper {
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.schedule-left h2 {
  font-size: 48px;
  margin-bottom: 40px;
}
.schedule-left img {
  width: 200px;
}

.event {
  font-family: "LXGW Marker Gothic", sans-serif;
  font-weight: 400;
  font-style: normal;
  border-bottom: 1px solid #f6dbe6;
  padding: 20px 0;
}
.event h4 {
  margin: 10px 0;
}





.contact {
  font-family: "LXGW Marker Gothic", sans-serif;
  font-weight: 400;
  font-style: normal;
  background: #f6dbe6; 
  color: #2f3b1f;
}
.contact-img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}
.contact-info {
    padding: 60px 90px;
}
.contact-info h2 {
  font-size: 48px;
  margin-bottom: 40px;
}
.contacts-grid {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 60px;
}

 /* телефоны до скольки .....*/
@media (max-width: 768px) {

 
  .hero {
    flex-direction: column;
    text-align: center;
    padding: 40px 20px;
  }

  .hero-text h1 {
    font-size: 56px;
  }

  .hero-text h2 {
    font-size: 28px;
  }

  .slogan {
    margin-top: 30px;
  }

  .slogan::before {
    display: none;
  }

  .hero-image {
    margin-top: 40px;
    text-align: center;
  }

  .hero-image img {
    max-width: 100%;
  }

  .list {
    padding: 60px 20px;
  }

  .section-title {
    font-size: 32px;
    margin-bottom: 40px;
  }

  .cards {
    flex-direction: column;
    gap: 20px;
  }

  .card {
    width: 100%;
    max-width: 320px;
    margin: 0 auto;
  }

  .card img {
    height: 300px;
    border-radius: 40px;
  }
  .card img:hover{
    transform: scale(1.1);
  }
  .name {
    font-size: 20px;
  }

  .price {
    font-size: 16px;
  }

}  

/* полоска слогана */
@media (max-width: 1220px) {
    .slogan::before {
    display: none;
  }
}
/* телефончики ч2 */
@media (max-width: 768px) {
  .services-grid,
  .schedule-wrapper,
  .contacts-grid {
    flex-direction: column;
  }

  .services h1,
  .schedule-left h2,
  .contact-info h2 {
    font-size: 36px;
  }
  .services-grid {
    gap: 40px
  }
  .schedule-left img {
    width: 150px;
  }
}
 